<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">

<div class="logo">
    <a href="/index.html"><img src="../img/logo1.png" alt=""></a>
</div>
<nav id="main-nav" class="hidden">
  <ul>
    <li><a href="/index.html">Startseite</a></li>
    <li><a href="/pages/ueber-mich.html">Über mich</a></li>
    <li><a href="/pages/lernsoftware.html">Lernsoftware</a></li>
    <li><a href="/pages/blog.html">Gedankenwelt</a></li>
    <li><a href="/pages/sunnycam.html">SunnyCam</a></li>
    <li><a href="/pages/kontakt.html">Kontakt</a></li>
    <li><a href="/pages/impressum.html">Impressum</a></li>
  </ul>
</nav>
<div class="hamburger">☰</div>

