<div class="spendenbox">
  <h3>🧡 Unterstütze nils-digital.de 🧡</h3>
    <p>
        Vom Hosting über Server für die Lernsoftware bis hin zur Technik für die SunnyCam:<br>  
        <strong>
            all das kostet leider Geld. Deshalb bin ich auf deine Hilfe angewiesen.
        </strong>
    </p>
    <p>
        Wenn dir gefällt, was ich hier aufbaue<br> 
        <strong>
            – sei es für Kinder, für Sunny oder einfach für echte Geschichten –
        </strong><br>  
        dann freue ich mich riesig über deine Unterstützung.
    </p>
    <p>
        Diese Seite ist mit 🧡 und einer Portion ☕ gebaut.
    </p>
    <p>
        <strong>
            Jeder Beitrag hilft dem Schülerdex und der SunnyCam!
        </strong>
    </p>
    <p>
        <strong>
            Spende gerne direkt über Paypal, unten auf dem Button!
        </strong>
    </p>
  <a href="https://www.paypal.me/deinName" target="_blank" class="spenden-button">PayPal spenden</a>
</div>
