<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">

<div class="container mx-auto px-6 sm:px-0 flex flex-row justify-between items-center ">
  <div class="logo">
      <a href="/index.html"><img src="../img/logo1.png" alt="logo"></a>
  </div>
  <nav id="main-nav" class="transition-all duration-500 ease-in-out max-h-0 overflow-hidden opacity-0">
    <ul>
      <li><a href="/index.html">Startseite</a></li>
      <li><a href="/pages/ueber-mich.html">Über mich</a></li>
      <li><a href="/pages/lernsoftware.html">Lernsoftware</a></li>
      <li><a href="/pages/blog.html">Gedankenwelt</a></li>
      <li><a href="/pages/sunnycam.html">SunnyCam</a></li>
      <li><a href="/pages/kontakt.html">Kontakt</a></li>
      <li><a href="/pages/impressum.html">Impressum</a></li>
    </ul>
  </nav>
  <div class="hamburger">
    <span>☰</span>
    <span class="hidden">X</span>
  </div>
</div>
