<div class="logo">nils-digital.de</div>
<div class="hamburger">☰</div>
<nav id="main-nav" class="hidden">
  <ul>
    <li><a href="/index.html">Startseite</a></li>
    <li><a href="/pages/ueber-mich.html">Über mich</a></li>
    <li><a href="/pages/lernsoftware.html">Lernsoftware</a></li>
    <li><a href="/pages/blog.html">Gedankenwelt</a></li>
    <li><a href="/pages/sunnycam.html">SunnyCam</a></li>
    <li><a href="/pages/kontakt.html">Kontakt</a></li>
    <li><a href="/pages/impressum.html">Impressum</a></li>
  </ul>
</nav>
